.is-clipped {
    overflow: hidden!important;
}

#tofu-shortcuts {
    z-index: 29999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#tofu-shortcuts .modal-background {
    background-color: rgba(10, 10, 10, 0.8);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    display: block;
}

#tofu-shortcuts .modal-content {
    display: block;
    overflow: auto;
    width: calc(100vw - 150px);
    height: calc(100vh - 150px);
    max-width: 640px;
    max-height: 480px;
    background: white;
    border-radius: 6px;
    position: relative;
    margin: 0;
    padding: 20px;
}

#tofu-shortcuts .modal-close {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 32px;
    height: 32px;
    display: block;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 32px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path fill="white" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>');
    background-repeat: no-repeat;
    background-position: 9px 6px;
    background-size: 14px;
    outline: none;
    background-color: transparent;
}

#tofu-shortcuts .modal-close:hover {
    background-color: black;
}
